.main-content {
  transition: margin-right 0.4s ease-in-out;
  padding: 2rem;
  flex: 1;
  min-width: 0;
  text-align: center;
}

.main-content.shift-left {
  margin-right: 360px;
}

.branding {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-logo {
  max-width: 300px;
  margin-top: 1rem;
}
